{{#if userInSession}}
<h2>Your profile</h2>

<img src="/images/IMG_9578.jpg" width= 400px/>




<h2>Your Cringe</h2>
<div id="myPosts"> 

    {{!-- will need to have a loop going that autopopulates this --}}

    <div>
        <img src="/images/200pixel.png"/>
    </div>

    <div>
       <img src="/images/200pixel.png"/>
    </div>

    <div>
        <img src="/images/200pixel.png"/>
    </div>

    <div>
        <img src="/images/200pixel.png"/>
    </div>

    <div>
        <img src="/images/200pixel.png"/>
    </div>

    <div>
        <img src="/images/200pixel.png"/>
    </div>

    <div>
        <img src="/images/200pixel.png"/>
    </div>

    <div>
        <img src="/images/200pixel.png"/>
    </div>

    <div>
        <img src="/images/200pixel.png"/>
    </div>
</div>






<h2> Cringe Comrades</h2>

<h2> Favorites</h2>

{{else}}

Please login to see your profile.

{{/if}}


