<div id="form">
<h2>Login</h2>
<form action="/login" method="POST">

<label> Email
<input type="email" name="email" placeholder="youremail@email.com" />
</label>

<label> Password
    <input type="password" name="password" placeholder="yourpassword" />
</label>

<button type="submit">Login</button>
{{!-- 
add error message --}}

</form>
</div>