<div id="form">
    <h2>Signup for Cringe</h2>
    <form action="/signup" method="POST">
    
    <label>Email
<input type="email" name="email" placeholder="youremail@email.com" />
    </label>

<label>Password
<input type="password" name="password" placeholder="yourpassword" />
</label>

<button type="submit">Create account</button>
    

    {{!-- add error message --}}
    </form>
</div>

<a href="/auth/login">Already a member? Log in here</a>