body {
    font-family: 'VT323';
    background-color:rgb(18, 17, 17);
    color: white;
margin:auto;
height:100%;
}

#title {
    text-align: center;
    font-size: 3.2vw;
    letter-spacing: 3.2vw;
    margin: 0 10%;
    width:80%;
    display: inline-block;
}

nav {
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: white;
    margin: 10px;
    background-color: rgb(39, 33, 33);
    border: 2px solid darkgray;
    width: 60%;
    margin-left:20%;
   
}

nav a {
color:darkgray;
text-decoration: none;

}

nav a:hover {
    color:rgba(255, 255, 255, 0.7);
}

#feed {
width:60%;
height:auto;
margin:0 20%;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;

}

#feed img {
    max-width:100%;
    height:auto;
    margin: 10px 0 0 0;
}

h1 {
    text-align: center;
    
}

h2 {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

p {
    font-family: 'Share Tech Mono', monospace;
}

#profileMainArea {
    display: flex;
    flex-direction: row;
    width:80%;
    margin:0 10%;
}

#profileInfo {
    margin:25px;
}

#friendsList {
    overflow: auto;
    white-space: nowrap;
    width:80%;
    margin:0 10%;
}

#friendsList div {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
}

#favorites {
    overflow: auto;
    white-space: nowrap;
    width:80%;
    margin:0 10%;
}

#favorites div {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
}
#favorites div:hover {
    background-color: #777;
}

#myPosts img {

    padding: 10px;
    height: 200px;
    width: auto;
  }

#myPosts div:hover {
    background-color: #777;
  }

#myPosts {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    width:80%;
    margin:0 10%;
    height:240px;
}

/* not working */
#title img {
    height:10vw;
    width:10vw;
    
}

#pfp img{
    border-radius: 50%;
}

.form {
background-color: darkgrey;
display:flex;
flex-direction: column;
height: 25%;
width:50%;
margin: 0 25%;
padding: 2vw;

}

.form label {
    margin-left: auto;

}

button {
    width: 15vw;
    color:white;
    border: 1px solid black;
    text-align: center;
    font-family: 'VT323';
    font-size: 2vw;
}

button:hover {
    border:1px solid grey;
}

label {
    width:2vw;
}

/* not working */
input[type="text"] {
    width: 13vw;
}

.postTitle {
    border-bottom: 0.25vw solid grey;
}

.individualPost {
    margin:auto;
    text-align: center;
}