body {
    font-family: 'VT323';
    background-color:black;
    color: white;
}

#title {
    text-align: center;
    font-size: 100px;
    letter-spacing: 1.5em;
    text-size-adjust: auto;
    margin: 0px;

    /* how to get this to respond to page width change? */
}

nav {
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: white;
    margin: 10px;
   
}

#feed {
width:75%;
height:auto;
margin:auto;

}

#feed img {
    height: 50%;
    width: auto;
    margin: 10px 0 0 0;
}

h1 {
    text-align: center;
}

h2 {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
}

p {
    font-family: 'Share Tech Mono', monospace;
}

#profileMainArea {
    display: flex;
    flex-direction: row;
}

#profileInfo {
    margin:25px;
}

#friendsList {
    overflow: auto;
    white-space: nowrap;
    width:80%;
    margin:10% 0;
}

#friendsList div {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
}

#favorites {
    overflow: auto;
    white-space: nowrap;
    width:80%;
    margin:10% 0;
}

#favorites div {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
}
#favorites div:hover {
    background-color: #777;
}

#myPosts img {

    padding: 10px;
    height: 200px;
    width: auto;
  }

#myPosts div:hover {
    background-color: #777;
  }

#myPosts {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    width:80%;
    margin:10% 0;
    height:220px;
}

