body {
    font-family: 'VT323', monospace;
    background-color:black;
    color: white;
}

#title {
    text-align: center;
    font-size: 100px;
    letter-spacing: 1.5em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: white;
   
}