body {
    font-family: 'VT323';
    background-color:rgb(18, 17, 17);
    color: white;
margin:auto;
height:100%;
}
a {
    color:white;
}

#title {
    text-align: center;
    font-size: 3.2vw;
    letter-spacing: 3.2vw;
    margin: 0 10%;
    width:80%;
    display: inline-block;
}

nav {
    font-family: 'Share Tech Mono', monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: white;
    margin: 10px;
    background-color: rgb(39, 33, 33);
    border: .25vw solid darkgray;
    width: 60%;
    margin-left:20%;
    height:2vw;
   
}

nav a {
color:rgb(255, 255, 255);
text-decoration: none;
font-size: 1.5vw;
padding: 0 1vw;
}

nav a:hover {
    color:rgba(255, 255, 255, 0.7);
    font-family: 'VT323';
}

#feed {
width:60%;
height:auto;
margin:0 20%;
display: flex;
flex-wrap: nowrap;
flex-direction: column;
align-items: center;

}

#feed img {
    max-width:100%;
    height:auto;
    margin: 10px 0 0 0;
}

h1 {
    text-align: center;
    font-size: 10vw;
    margin: 1vw 0;
    
}

h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2vw;
    text-align: center;
}

h3 {
    font-size: 1.5vw;
}

p {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1vw;
}

#profileMainArea {
    display: flex;
    flex-direction: row;
    width:80%;
    margin:0 10%;
    justify-content: center;
}

#profileInfo {
    margin:25px;
}

#friendsList {
    overflow: auto;
    white-space: nowrap;
    width:80%;
    margin:0 10%;
}

#friendsList div {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
}

#favorites {
    overflow: auto;
    white-space: nowrap;
    width:80%;
    margin:0 10%;
}

#favorites div {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
}
#favorites div:hover {
    background-color: #777;
}

#myPosts img {

    padding: 10px;
    height: 200px;
    width: auto;
  }

#myPosts div:hover {
    background-color: #777;
  }

#myPosts {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
    width:80%;
    margin:0 10%;
    height:240px;
}

#title img {
    height:10vw;
    width:10vw;
    
}

#pfp img{
    border-radius: 50%;
    width: 20vw;
    height: auto;
}

.form {
background-color: darkgrey;
display:flex;
flex-direction: column;
height: 25%;
width:50%;
margin: 0 25%;
padding: 2vw;

}

.form label {
    margin-left: auto;

}

#profileInfo > button{
    width: 30%;
    color:black;
    border: 1px solid black;
    text-align: center;
    font-family: 'VT323';
    font-size: 1.5vw;
    margin:2% 35% 0 35%;
}

button {
    width: 10%;
    color:black;
    border: 1px solid black;
    text-align: center;
    font-family: 'VT323';
    font-size: 1.5vw;
    margin:2% 45% 0 45%;
}

button:hover {
    border:1px solid grey;
}

label {
    width:10%;
    margin-left:25%;
}


input[type="text"] {
    width: 50%;
    height: 10vw;
    margin: 0 25%;
}

.individualPost {
    margin:auto;
    text-align: center;
}

.like-button {
    background-color: rgba(0,0,0,0);
    width:2vw;
    height:1vw;
    font-size: 2vw;
    color:white;
    padding:0;
    margin:0;
}

.likes {
width:3vw;
padding:0;
margin: 0;
}

.likes-section {
    display:flex;
    margin-top:1vw;
    font-size: 1.5vw;
    text-align: left;
    width:5vw;
    
}

.imageHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 3vw;
    width:100%;
    padding-bottom: 1vw;
    margin: 0;
    justify-content: space-between;
    border-bottom: 0.25vw solid grey;
}

.deletePostBtn {
    margin-top: 2vw;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white rgb(18, 17, 17) ;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 80%;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(18, 17, 17); 
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
  }

button a {
    color:black;
    text-decoration: none;
}
