

 <form action="/post/create" method="post" enctype="multipart/form-data"> 
      <div>
        <label>Title:
          <input type="text" name="title"/>
        </label>
      </div>
 
      <div>
        <label>Image:
          <input type="file" name="postImage"/>
        </label>
      </div>
 
      <button type="submit">Post Cringe</button>
    </form>

    <button><a href="/">Home</a></button>