
<div class="individualPost">

    {{!-- below does not work --}}
    <h3>More Posts from this <a href='profile/{{User._id}}'> User </a></h3>
<h2>{{title}}</h2>
<img src="{{imageUrl}}"/>

{{!-- make this where only the poster can delete --}}
<br>
{{#if isMyPost}}
<button><a href="/post/{{_id}}/delete">Delete This Post</a></button>
{{/if}}

</div>