<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


<h1>Daily Cringe</h1>

<div id="feed">

{{#each allPosts}}
<div>
    <h3 id="postTitle">{{this.title}}</h3>
    <img src="{{this.imageUrl}}" />

</div>



{{/each}}

</div>

